body{
    justify-content: center;
}

#menu{
    position: absolute;
    top: 35px;
    right: 35px
}

#menu a{
    font-size: 16px;
    color: var(--platinum);
    margin: 0 35px;
}

#menu a:hover{
    color: var(--platinumMod);
}

#options{
    display: flex;
}

#options > *{
    margin: 0 35px;
}

h1{
    margin-bottom: 35px;
}

.card{
    position: relative;
    height: 300px;
    width: 500px;
    perspective: 1000px;
    position: relative;
}
  
.front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s linear;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background: white;
    cursor: pointer;
    font-size: 24px;
    color: black;
}

.back{
    transform: rotateY(180deg);
}

.flipped .front {
    transform: rotateY(180deg);
}

.flipped .back {
    transform: rotateY(360deg);
}

.cardLabel{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
}

.cardLabel.f{
    color: #0f6800;
}

.cardLabel.b{
    color: #f75142;
}

.controls{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    margin-top: 35px;
}

.controls svg{
    color: var(--platinum);
    fill: none;
    cursor: pointer;
    height: 42px;
    width: 42px;
}

.controls svg:hover{
    color: var(--platinumMod);
}
